* {
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #6a6a6a;
    box-sizing: border-box;

    @include flex-container();

    &::-webkit-scrollbar {
        width: 4px;

        &-thumb {
            background-color: var(--cor-secundaria);
        }
    }
}

section {
    margin-top: var(--distancia-vertical);
}

h2 {
    font-size: 4.5rem;

    margin-bottom: var(--distancia-vertical);

    text-align: center;
}

