.header {
    padding: 0 var(--distancia-horizontal);
    
    background-color: var(--cor-principal);

    border-bottom-left-radius: 45px;
    height: 85vh;

    margin-top: 0;
    position: relative;

    overflow: hidden;

    @include flex-container(column, space-between, unset);

    transition: var(--transition-1);

    @media only screen and (max-width: 1500px) {
        height: 75vh;
    }

    &__menu-fixo {
        @include flex-container(row, space-between, center);

        background-color: var(--cor-principal);

        flex: none;

        height: 10%;
        width: calc(100% + var(--distancia-horizontal));

        padding: 0 var(--distancia-horizontal);

        position: fixed;
        left: calc(-1 * (var(--distancia-horizontal) / 2));

        transform: translateY(0%);
        transition: 
            transform var(--transition-1),
            opacity var(--transition-1);

        z-index: 100;

        &.hide {
            transform: translateY(-30%);
            opacity: 0;
         }

        &::before {
            content: "";

            background-color: #f3f3f32e;

            position: absolute;
            bottom: 0;

            height: 1px;
            width: calc(100% + 200px);

            transform: translate(calc(-1 * var(--distancia-horizontal)));
        }

        &__carrossel {
            @include flex-container(row, flex-start, center);

            font-size: 1.7rem;

            &__simbolo-mais {
                color: var(--cor-terciaria);

                margin-right: 10px;
            }

            &__informacao {
                color: var(--cor-fundo);
            }
        }

        &__botao {
            &,
            &:link,
            &:visited {
                background-color: var(--cor-secundaria);
    
                cursor: pointer;
    
                font-family: 'Lato Bold';
                font-size: 1.7rem;
    
                height: 4rem;
                width: 22rem;
    
                @include flex-container;

                text-decoration: none;

                color: var(--cor-principal);
            }
        }
    }

    &__conteudo {
        @include flex-container(row, space-between, unset);

        height: 90%;

        margin-top: var(--distancia-horizontal);

        &__informacoes {
            color: var(--cor-fundo);

            // background-color: #d69090;

            align-self: center;

            &__autor {
                margin-bottom: 30px;

                @include flex-container(row, flex-start, center);

                &__linha {
                    width: 8rem;
                    height: 1px;

                    margin-right: 20px;

                    background-color: var(--cor-fundo);
                }

                &__nome {
                    font-size: 2rem;
                }
            }

            &__informacoes-principais {
                width: 56%;

                margin-bottom: 80px;

                &__titulo {
                    font-size: 9rem;
                    line-height: 0.9;

                    margin-bottom: 20px;

                    letter-spacing: 7px;

                    transform: translate(-7px);
                }

                &__descricao {
                    font-size: 2rem;
                }
            }

            &__formulario {
                @include flex-container(column, flex-start, flex-start);

                width: 50rem;
                &__inputs {
                    @include flex-container(column, flex-start, flex-start);

                    width: 100%;

                    margin-bottom: 30px;

                    &__input {
                        background-color: transparent;
                        border: none;
                        border-bottom: 1px solid var(--cor-terciaria);
                        width: 100%;
                        
                        font-size: 2rem;

                        outline: none;

                        padding-left: 0;
                        padding-bottom: 5px;

                        &:not(:last-of-type) {
                            margin-bottom: 10px;
                        }

                        &::placeholder {
                            color: var(--cor-fundo);
                        }

                        &:-webkit-autofill,
                        &:-webkit-autofill:hover,
                        &:-webkit-autofill:focus,
                        &:-webkit-autofill:active {
                            transition: background-color 5000s ease-in-out 0s;
                            font-family: "Lato Light";
                            -webkit-text-fill-color: #fff !important;
                        }
                    }
                }

                &__botao {
                    @include flex-container;

                    background-color: var(--cor-secundaria);
                    border: none;

                    cursor: pointer;

                    font-family: "Lato Bold";
                    font-size: 2rem;

                    height: 4.5rem;
                    width: 100%;
                }
            }
        }

        &__container-imagem {
            position: absolute;
            right: var(--distancia-horizontal);
            bottom: 0;

            &__imagem {
                // background-color: #876;

                width: 70rem;

                object-fit: contain;

                position: relative;
                bottom: -1px;

                z-index: 10;
            }

            &__luz {
                height: 60rem;
                width:  60rem;

                border-radius: 9999px;

                @include centralizar;

                background-color: #141f34a3;

                filter: blur(90px);
            }
        }
        
    }
}