.formulario {
    @include flex-container(column, flex-start, center);

    background-color: var(--cor-fundo);

    color: var(--cor-fundo);

    max-width: 1920px;

    [pergunta5] {
        transition: var(--transition-1);

        &.erro {
            background-color: red;
        }
    }

    input {
        transition: var(--transition-1);

        &.erro {
            border-bottom: 1px solid red;
        }
    }

    & > * {
        width: 65%;

        transition: var(--transition-1);

        @media only screen and (max-width: 850px) {
            width: 80%;
        }

        @media only screen and (max-width: 700px) {
            width: 95%;
        }
    }

    &__header {
        background-color: var(--cor-principal);

        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        margin-bottom: 20px;
        padding: 40px;

        @media only screen and (max-width: 700px) {
            margin-bottom: 15px;
        }

        &__texto {
            font-size: 2rem;

            &__paragrafo {
                &:not(:last-of-type) {
                    margin-bottom: 20px;
                }
                
                &__destaque {
                    color: var(--cor-secundaria);
                }
            }
        }
    }

    &__forms {
        &__pergunta {
            border-radius: 10px;
            background-color: var(--cor-principal);

            // &:not(:last-of-type) {
                margin-bottom: 20px;
            // }

            // &:last-of-type {
            //     border-radius: 0;
            //     border-top-left-radius:  10px;
            //     border-top-right-radius: 10px;
            // }

            @media only screen and (max-width: 700px) {
                margin-bottom: 15px;
            }

            padding: 30px;

            &__titulo {
                font-size: 2rem;

                margin-bottom: 40px;

                text-align: left;

                @media only screen and (max-width: 700px) {
                    margin-bottom: 30px;
                }
            }

            &__container-range {
                // background-color: red;

                width: 30%;

                & > * {
                    width: 100%;
                }

                &__numeros {
                    @include flex-container(row, space-between, center);

                    color: #7e7e7e;

                    margin-bottom: 2px;

                    &__numero {
                        font-size: 1.5rem;
                    }
                }

                &__input {
                    cursor: pointer;

                    &::-webkit-slider-thumb,
                    &::-ms-thumb {
                        border-radius: 999px
                    }

                    &[type=range] {
                        // height: 0px;
                        -webkit-appearance: none;
                        background-color: transparent;
                        margin: 10px 0;
                        width: 100%;
                    }

                    &[type=range]::-webkit-slider-runnable-track {
                        width: 100%;
                        height: 10px;
                        cursor: pointer;
                        animate: 0.2s;
                        box-shadow: inset 0 2px 1px #00000031;
                        background: var(--cor-fundo);
                        border-radius: 99px;
                        border: none;
                    }
                    &[type=range]::-webkit-slider-thumb {
                        box-shadow: 3px 0px 1px #00000061;
                        height: 20px;
                        width: 20px;
                        border-radius: 999px;
                        background: var(--cor-secundaria);
                        cursor: pointer;
                        -webkit-appearance: none;

                        margin-top: -6px;
                    }
                    &[type=range]::-moz-range-thumb {
                        box-shadow: 3px 0px 1px #00000061;
                        height: 30px;
                        width: 15px;
                        border-radius: 5px;
                        background: var(--cor-secundaria);
                        cursor: pointer;
                    }
                    &[type=range]::-ms-track {
                        width: 100%;
                        height: 10px;
                        cursor: pointer;
                        animate: 0.2s;
                        background: transparent;
                        border-color: transparent;
                        color: transparent;
                    }
                }
            }

            &__container-checkbox {
                @include flex-container(column, flex-start, flex-start);

                margin-bottom: 20px;

                &__opcao {
                    @include flex-container(row, flex-start, center);

                    &:not(:last-of-type) {
                        margin-bottom: 10px;
                    }
                    
                    &__checkbox {
                        cursor: pointer;

                        margin-right: 20px;
                    }
                    
                    &__label {
                        cursor: pointer;
                        
                        font-size: 2rem;
                    }
                }
                
                &__checkbox {
                    &:not(:last-of-type) {
                        margin-bottom: 10px;
                    }
                }
            }

            &__input {
                &[type='text'] {
                    border: none;
                    border-bottom: 1px solid #383838;
                    background-color: transparent;

                    color: var(--cor-fundo);

                    font-size: 2rem;

                    outline: none;

                    width: 100%;
                }
            }
        }

        &__botao {
            background-color: var(--cor-secundaria);

            border: none;
    
            cursor: pointer;

            font-family: 'Lato Bold';
            font-size: 2rem;

            margin-bottom: 20px;

            height: 6rem;
            width: 100%;

            @include flex-container;

            text-decoration: none;

            color: var(--cor-principal);
        }
    }

    &__footer {
        @include flex-container;

        background-color: var(--cor-principal);

        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        font-size: 1.5rem;

        height: 75px;
    }
}