body {
    background-color: var(--cor-principal);
}

.obrigado {
    @include flex-container(column, center, center);

    background-color: var(--cor-principal);
    
    height: 100vh;
    width: 100%;
    
    max-height: 1344px;
    max-width: 2560px;
    
    
    @media only screen and (min-width: 2560px) {
        border-radius: 10px;
    }

    @media only screen and (max-height: 760px) {
        height: unset;
    }

    &__container {
        @include flex-container(column, space-between, center);
        border-radius: 3px;
        
        padding: var(--distancia-vertical) var(--distancia-horizontal);

        // overflow: scroll;
        
        height: 70%;
        width:  80%;

        min-height: 650px;
        
        @media only screen and (max-width: 1100px) {
            height: 100%;
            width:  100%;
        }
        
        @media only screen and (max-height: 860px) {
            height: 80%;
            width:  90%;
        }

        @media only screen and (max-height: 760px) {
            height: 100%;
            width:  100%;
        }

        &__container-icone {
            position: relative;

            height: 16rem;
            width: 16rem;
            
            // margin-bottom: 30px;
            
            @media only screen and (max-width: 960px) {
                height: 12rem !important;
                width:  12rem !important;
                
                &__circulo {
                    height: 12rem !important;
                    width:  12rem !important;
                }

                &__icone {
                    height: 6rem !important;
                    width:  6rem !important;
                }
            }

            & > * {
                @include centralizar;
            }

            &__circulo {
                border: 1px solid var(--cor-secundaria);
                border-radius: 999px;

                height: 16rem;
                width:  16rem;
            }
            
            &__icone {
                fill: var(--cor-secundaria);

                height: 8rem;
                width:  8rem;
            }
        }

        &__texto {
            color: var(--cor-fundo);

            font-size: 2.2rem;
            
            text-align: center;
            
            @media only screen and (max-width: 1550px) {
                // transform: translateY(0px);
            }
            
            @media only screen and (max-width: 960px) {
                // font-size: 1.5rem !important;
            }

            transform: translateY(-80px);

            &__linha {
                display: block;

                &:not(:last-of-type) {
                    margin-bottom: 10px
                }

                &__destaque {
                    color: var(--cor-secundaria);

                    text-transform: uppercase
                }
            }
        }

        &__redes-sociais {
            @include flex-container(column, flex-start, center);

            &__texto {
                color: var(--cor-fundo);

                font-size: 2rem;
                
                margin-bottom: 25px;
                
                @media only screen and (max-width: 960px) {
                    // font-size: 1.3rem;
                }

                @media only screen and (max-width: 333px) {
                    margin-bottom: 15px;
                }
            }

            &__container {
                @include flex-container(row, space-between, center);

                width: 100%;

                &__link {
                    &,
                    &:visited,
                    &:link {
                        fill: var(--cor-secundaria);
                    }

                    &__icone {
                        &--1 {
                            height: 4.3rem;
                            width:  4.3rem;
                        }

                        &--2 {
                            height: 3.3rem;
                            width:  3.3rem;
                        }

                        &--3 {
                            height: 4rem;
                            width:  4rem;
                        }
                        
                        @media only screen and (max-width: 960px) {
                            &--1 {
                                height: 3.1rem;
                                width:  3.1rem;
                            }
    
                            &--2 {
                                height: 2.3rem;
                                width:  2.3rem;
                            }
    
                            &--3 {
                                height: 2.9rem;
                                width:  2.9rem;
                            }
                        }
                    }
                }
            }
        }
    }
}