// Lato
@font-face {
    src: url("../../midias/fontes/lato/Lato-Light.woff");
    font-family: 'Lato Light'
}

@font-face {
    src: url("../../midias/fontes/lato/Lato-Regular.woff");
    font-family: 'Lato Regular'
}

@font-face {
    src: url("../../midias/fontes/lato/Lato-Bold.woff");
    font-family: 'Lato Bold'
}
